In [1]:
# Importamos las librerias necesarias para empezar
import pandas as pd
import numpy as np
import psycopg2 as ps
import pyarrow

In [2]:
# Creamos un df sobre el archivo parquet y guardamos el dataset crudo.

df_raw = pd.read_parquet("../data/reservas_hoteles.parquet",engine='pyarrow')
df_raw

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [3]:
# Guardamos el dataset como datos crudo y así emprezamos a trabajar con el, con un eda
df_raw.to_parquet("../data/raw_hoteles.parquet")

In [4]:
# Empezamos con el EDA
df_hoteles = df_raw
df_hoteles

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [ ]:

df_hoteles.duplicated().sum()
df_hoteles = df_hoteles.drop_duplicates()

In [6]:
# comprobamos que los id_hotel no estan bien. Vemos la columna hotel para ver cuantos valores unicos tienes.
df_hoteles['nombre_hotel'].unique().T

array(['', 'Hotel Monte Verde', 'Hotel Brisas del Mar',
       'Hotel Camino del Sol', 'Hotel Puerta del Cielo',
       'Hotel Encanto Real', 'Palacio del Sol', 'Hotel Jardines del Rey',
       'Hotel Las Estrellas', 'Gran Hotel Madrid', 'Hotel Torre Dorada',
       'Hotel Palacio Imperial', 'Hotel Luz de Madrid',
       'Hotel Los Almendros', 'Hotel Sol y Luna', 'Hotel Mirador Real',
       'Hotel Rincón Sereno', 'Hotel Vista Alegre', 'Hotel Costa Azul',
       'Hotel Maravilla Real'], dtype=object)

### Vemos que tenemos 19 hoteles en total

In [ ]:
# Creamos 2 dataframe que separen los hoteles de la competencia con los propios
df_propios = df_hoteles[df_hoteles['competencia']==False]
df_propios

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14992,277edc09-64da-4a99-b6e2-395491a5f1a7,87df00cd-331f-4dda-a12c-6cd4fed91504,Adoración,Cuadrado,adoración.cuadrado@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,305.79,Hotel Jardines del Rey,1.0,Madrid
14994,0b1676e5-12a9-48cd-944d-b3d09e1ddf08,02a9ffb9-9de2-4a80-8b14-e20e217af1a6,Edgardo,Sanchez,edgardo.sanchez@example.com,False,2025-02-06,2025-03-01,2025-03-02,15,381.16,Hotel Rincón Sereno,1.0,Madrid
14995,58acd6f3-7160-4973-b951-b14188937444,de729428-ec23-4665-a5c9-79e3ec282470,Lorena,Román,lorena.román@example.com,False,2025-02-06,2025-03-01,2025-03-02,35,111.78,Hotel Jardines del Rey,1.0,Madrid
14997,af0f6afa-e7d2-410a-8cdd-5eb62b1e4788,e89751f4-3621-4636-81d3-90e2baa709cb,Nadia,Verdugo,nadia.verdugo@example.com,False,2025-02-11,2025-03-01,2025-03-02,47,442.96,Hotel Brisas del Mar,5.0,Madrid
14999,55b1c8de-bc13-4e4c-9dd7-50437788e361,f97ec0a6-6fb7-401e-83fa-5fb3957ee02b,Brígida,Salom,brígida.salom@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,362.39,Hotel Vista Alegre,5.0,Madrid

In [8]:
# Eliminar la columna 'id_hotel' actual
df_propios = df_propios.drop(columns=['id_hotel'])

# Crear un diccionario que asocie cada hotel único con un nuevo ID
unique_hotels = df_propios['nombre_hotel'].unique()
hotel_id_map = {hotel: idx + 1 for idx, hotel in enumerate(unique_hotels)}
print(hotel_id_map)

# Asignar los nuevos IDs a la columna 'id_hotel'
df_propios['id_hotel'] = df_propios['nombre_hotel'].map(hotel_id_map)

{'Hotel Monte Verde': 1, 'Hotel Brisas del Mar': 2, 'Hotel Camino del Sol': 3, 'Hotel Puerta del Cielo': 4, 'Hotel Encanto Real': 5, 'Palacio del Sol': 6, 'Hotel Jardines del Rey': 7, 'Hotel Las Estrellas': 8, 'Gran Hotel Madrid': 9, 'Hotel Torre Dorada': 10, 'Hotel Palacio Imperial': 11, 'Hotel Luz de Madrid': 12, 'Hotel Los Almendros': 13, 'Hotel Sol y Luna': 14, 'Hotel Mirador Real': 15, 'Hotel Rincón Sereno': 16, 'Hotel Vista Alegre': 17, 'Hotel Costa Azul': 18, 'Hotel Maravilla Real': 19}

In [ ]:
df_propios['nombre_hotel'].nunique()

14905

In [ ]:
df_propios['id_hotel'].nunique()

array([ 1000,  1001,  1002, ..., 15902, 15903, 15904], shape=(14905,))

In [ ]:
df_propios

19

In [ ]:
df_hoteles_competencia = df_hoteles[df_hoteles['competencia']==True]
df_hoteles_competencia

19

In [ ]:
# Eliminar la columna 'id_cliente'
if 'id_cliente' in df_hoteles.columns:
    df_hoteles = df_hoteles.drop(columns=['id_cliente'])

# Crear una nueva columna 'id_cliente' basada en el correo electrónico
df_hoteles['id_cliente'] = df_hoteles['mail'].factorize()[0] + 1000

df_hoteles['id_cliente'].unique()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,precio_noche,nombre_hotel,estrellas,ciudad,id_hotel
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,119.96,Hotel Monte Verde,1.0,Madrid,1
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,211.53,Hotel Brisas del Mar,5.0,Madrid,2
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,378.37,Hotel Camino del Sol,1.0,Madrid,3
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,85.45,Hotel Puerta del Cielo,5.0,Madrid,4
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,309.80,Hotel Encanto Real,1.0,Madrid,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14992,277edc09-64da-4a99-b6e2-395491a5f1a7,87df00cd-331f-4dda-a12c-6cd4fed91504,Adoración,Cuadrado,adoración.cuadrado@example.com,False,2025-02-06,2025-03-01,2025-03-02,305.79,Hotel Jardines del Rey,1.0,Madrid,7
14994,0b1676e5-12a9-48cd-944d-b3d09e1ddf08,02a9ffb9-9de2-4a80-8b14-e20e217af1a6,Edgardo,Sanchez,edgardo.sanchez@example.com,False,2025-02-06,2025-03-01,2025-03-02,381.16,Hotel Rincón Sereno,1.0,Madrid,16
14995,58acd6f3-7160-4973-b951-b14188937444,de729428-ec23-4665-a5c9-79e3ec282470,Lorena,Román,lorena.román@example.com,False,2025-02-06,2025-03-01,2025-03-02,111.78,Hotel Jardines del Rey,1.0,Madrid,7
14997,af0f6afa-e7d2-410a-8cdd-5eb62b1e4788,e89751f4-3621-4636-81d3-90e2baa709cb,Nadia,Verdugo,nadia.verdugo@example.com,False,2025-02-11,2025-03-01,2025-03-02,442.96,Hotel Brisas del Mar,5.0,Madrid,2
14999,55b1c8de-bc13-4e4c-9dd7-50437788e361,f97ec0a6-6fb7-401e-83fa-5fb3957ee02b,Brígida,Salom,brígida.salom@example.com,False,2025-02-08,2025-03-01,2025-03-02,362.39,Hotel Vista Alegre,5.0,Madrid,17

In [ ]:
df_hoteles['mail'].nunique()

,id_reserva,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id_cliente
0,5256cc90-139b-43d2-8ec5-412495d751cf,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,,1000
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,,1001
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,Judith,Rivas,judith.rivas@example.com,True,,2025-03-01,2025-03-02,131,NaN,,NaN,,1007
9,458029ad-cc9b-4d85-8290-fec170bcc02d,Adolfo,Cuervo,adolfo.cuervo@example.com,True,,2025-03-01,2025-03-02,114,NaN,,NaN,,1009
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,María Carmen,Navarro,maría carmen.navarro@example.com,True,,2025-03-01,2025-03-02,103,NaN,,NaN,,1011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14989,e856adee-838c-4031-920c-05ec5f1e32e6,Jesusa,Espinosa,jesusa.espinosa@example.com,True,,2025-03-01,2025-03-02,135,NaN,,NaN,,15894
14991,77134049-6e4f-49b0-a6f8-93b7466b1c22,Cruz,Hurtado,cruz.hurtado@example.com,True,,2025-03-01,2025-03-02,128,NaN,,NaN,,15896
14993,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,,2025-03-01,2025-03-02,186,NaN,,NaN,,15898
14996,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,Toño,Narváez,toño.narváez@example.com,True,,2025-03-01,2025-03-02,114,NaN,,NaN,,15901
14998,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,Custodia,Marco,custodia.marco@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,,15903

In [ ]:
# Hago un info para ver las columnas y el tipo de dato de cada una.
df_hoteles.info()

nombre_hotel
Gran Hotel Madrid         3.067568
Hotel Brisas del Mar      3.088015
Hotel Camino del Sol      3.067568
Hotel Costa Azul          3.118447
Hotel Encanto Real        3.031311
Hotel Jardines del Rey    2.936255
Hotel Las Estrellas       2.906615
Hotel Los Almendros       3.011257
Hotel Luz de Madrid       3.052239
Hotel Maravilla Real      2.978858
Hotel Mirador Real        2.977486
Hotel Monte Verde         3.103636
Hotel Palacio Imperial    3.006479
Hotel Puerta del Cielo    3.028517
Hotel Rincón Sereno       2.998047
Hotel Sol y Luna          3.008977
Hotel Torre Dorada        2.919922
Hotel Vista Alegre        2.941292
Palacio del Sol           2.992157
Name: estrellas, dtype: float64

In [ ]:
# Miro que tal han quedado los datos despues de elminar el id_cliente y crear uno nuevo
valoracion = df_propios.groupby('nombre_hotel')["estrellas"].mean()
valoracion

nombre_hotel
Gran Hotel Madrid         264.967165
Hotel Brisas del Mar      275.225921
Hotel Camino del Sol      269.998444
Hotel Costa Azul          284.282963
Hotel Encanto Real        278.243996
Hotel Jardines del Rey    272.402335
Hotel Las Estrellas       271.706353
Hotel Los Almendros       273.762976
Hotel Luz de Madrid       269.935607
Hotel Maravilla Real      284.402119
Hotel Mirador Real        273.285274
Hotel Monte Verde         276.612381
Hotel Palacio Imperial    272.241515
Hotel Puerta del Cielo    280.151243
Hotel Rincón Sereno       277.318824
Hotel Sol y Luna          267.931359
Hotel Torre Dorada        272.733176
Hotel Vista Alegre        279.802141
Palacio del Sol           282.492150
Name: precio_noche, dtype: float64

In [ ]:
precio = df_propios.groupby('nombre_hotel')["precio_noche"].mean()
precio

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,precio_noche,nombre_hotel,estrellas_x,ciudad,id_hotel,estrellas_y
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,119.96,Hotel Monte Verde,1.0,Madrid,1,3.103636
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,211.53,Hotel Brisas del Mar,5.0,Madrid,2,3.088015
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,378.37,Hotel Camino del Sol,1.0,Madrid,3,3.067568
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,85.45,Hotel Puerta del Cielo,5.0,Madrid,4,3.028517
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,309.80,Hotel Encanto Real,1.0,Madrid,5,3.031311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9823,277edc09-64da-4a99-b6e2-395491a5f1a7,87df00cd-331f-4dda-a12c-6cd4fed91504,Adoración,Cuadrado,adoración.cuadrado@example.com,False,2025-02-06,2025-03-01,2025-03-02,305.79,Hotel Jardines del Rey,1.0,Madrid,7,2.936255
9824,0b1676e5-12a9-48cd-944d-b3d09e1ddf08,02a9ffb9-9de2-4a80-8b14-e20e217af1a6,Edgardo,Sanchez,edgardo.sanchez@example.com,False,2025-02-06,2025-03-01,2025-03-02,381.16,Hotel Rincón Sereno,1.0,Madrid,16,2.998047
9825,58acd6f3-7160-4973-b951-b14188937444,de729428-ec23-4665-a5c9-79e3ec282470,Lorena,Román,lorena.román@example.com,False,2025-02-06,2025-03-01,2025-03-02,111.78,Hotel Jardines del Rey,1.0,Madrid,7,2.936255
9826,af0f6afa-e7d2-410a-8cdd-5eb62b1e4788,e89751f4-3621-4636-81d3-90e2baa709cb,Nadia,Verdugo,nadia.verdugo@example.com,False,2025-02-11,2025-03-01,2025-03-02,442.96,Hotel Brisas del Mar,5.0,Madrid,2,3.088015
9827,55b1c8de-bc13-4e4c-9dd7-50437788e361,f97ec0a6-6fb7-401e-83fa-5fb3957ee02b,Brígida,Salom,brígida.salom@example.com,False,2025-02-08,2025-03-01,2025-03-02,362.39,Hotel Vista Alegre,5.0,Madrid,17,2.941292

In [ ]:
propios_merge = pd.merge(df_propios, valoracion, on='nombre_hotel')
propios_merge

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       9828 non-null   object
 1   id_cliente       9828 non-null   object
 2   nombre           9828 non-null   object
 3   apellido         9828 non-null   object
 4   mail             9828 non-null   object
 5   competencia      9828 non-null   bool
 6   fecha_reserva    9828 non-null   object
 7   inicio_estancia  9776 non-null   object
 8   final_estancia   9776 non-null   object
 9   precio_noche_x   9776 non-null   float64
 10  nombre_hotel     9828 non-null   object
 11  estrellas_x      9828 non-null   float64
 12  ciudad           9828 non-null   object
 13  id_hotel         9828 non-null   int64
 14  estrellas_y      9828 non-null   float64
 15  precio_noche_y   9828 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(10)
memory usage: 1.1+ MB

In [ ]:
propios_merge = pd.merge(propios_merge, precio, on='nombre_hotel')
propios_merge.info()

In [ ]:
propios_merge = propios_merge.drop(columns=['estrellas_x', 'precio_noche_x'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       9828 non-null   object
 1   id_cliente       9828 non-null   object
 2   nombre           9828 non-null   object
 3   apellido         9828 non-null   object
 4   mail             9828 non-null   object
 5   competencia      9828 non-null   bool
 6   fecha_reserva    9828 non-null   object
 7   inicio_estancia  9776 non-null   object
 8   final_estancia   9776 non-null   object
 9   nombre_hotel     9828 non-null   object
 10  ciudad           9828 non-null   object
 11  id_hotel         9828 non-null   int64
 12  estrellas        9828 non-null   float64
 13  precio_medio     9828 non-null   float64
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1007.9+ KB

In [ ]:
propios_merge = propios_merge.rename(columns={'estrellas_y': 'estrellas', 'precio_noche_y': 'precio_medio'})
propios_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5172 entries, 0 to 14998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   nombre           5172 non-null   object
 2   apellido         5172 non-null   object
 3   mail             5172 non-null   object
 4   competencia      5172 non-null   bool
 5   fecha_reserva    5172 non-null   object
 6   inicio_estancia  5149 non-null   object
 7   final_estancia   5149 non-null   object
 8   id_hotel         5172 non-null   int64
 9   precio_noche     0 non-null      float64
 10  nombre_hotel     5172 non-null   object
 11  estrellas        0 non-null      float64
 12  ciudad           5172 non-null   object
 13  id_cliente       5172 non-null   int64
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 570.7+ KB

In [ ]:
df_hoteles_competencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_hotel   10 non-null     object
 1   estrellas      10 non-null     float64
 2   precio         10 non-null     float64
 3   fecha_reserva  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 452.0+ bytes

In [ ]:
scrapeo = pd.read_csv("../data/scrapeo_hoteles.csv", parse_dates= ['fecha_reserva'])
scrapeo.info()

array([113, 194, 131, 114, 103, 181, 128, 186, 135, 117])

In [ ]:
df_hoteles_competencia["id_hotel"].unique()

,nombre_hotel,estrellas,precio,fecha_reserva,id_hotel
0,ibis Styles Madrid Prado,4.7,161.0,2025-02-21,113
1,ibis Madrid Centro las Ventas,4.5,172.0,2025-02-21,194
2,ibis budget Madrid Vallecas,4.3,107.0,2025-02-21,131
3,ibis Madrid Aeropuerto Barajas,4.4,116.0,2025-02-21,114
4,ibis Madrid Alcorcon Tresaguas,4.4,90.0,2025-02-21,103
5,ibis budget Madrid Aeropuerto,4.0,88.0,2025-02-21,181
6,ibis Madrid Alcobendas,4.4,85.0,2025-02-21,128
7,ibis budget Madrid Alcorcon Móstoles,4.5,77.0,2025-02-21,186
8,ibis Madrid Alcala de Henares La Garena,4.5,83.0,2025-02-21,135
9,ibis budget Madrid Alcala de Henares La Dehesa,4.3,72.0,2025-02-21,117

In [ ]:
scrapeo["id_hotel"] = df_hoteles_competencia["id_hotel"].unique()
scrapeo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   nombre           5172 non-null   object
 2   apellido         5172 non-null   object
 3   mail             5172 non-null   object
 4   competencia      5172 non-null   bool
 5   fecha_reserva_x  5172 non-null   object
 6   inicio_estancia  5149 non-null   object
 7   final_estancia   5149 non-null   object
 8   id_hotel         5172 non-null   int64
 9   precio_noche     0 non-null      float64
 10  nombre_hotel_x   5172 non-null   object
 11  estrellas_x      0 non-null      float64
 12  ciudad           5172 non-null   object
 13  id_cliente       5172 non-null   int64
 14  nombre_hotel_y   5172 non-null   object
 15  estrellas_y      5172 non-null   float64
 16  precio           5172 non-null   float64
 17  fecha_reserva_y  5172 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(10)
memory usage: 692.1+ KB

In [ ]:
merge_competencia = pd.merge(df_hoteles_competencia, scrapeo, on='id_hotel')
merge_competencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   nombre           5172 non-null   object
 2   apellido         5172 non-null   object
 3   mail             5172 non-null   object
 4   competencia      5172 non-null   bool
 5   inicio_estancia  5149 non-null   object
 6   final_estancia   5149 non-null   object
 7   id_hotel         5172 non-null   int64
 8   ciudad           5172 non-null   object
 9   id_cliente       5172 non-null   int64
 10  nombre_hotel_y   5172 non-null   object
 11  estrellas_y      5172 non-null   float64
 12  precio           5172 non-null   float64
 13  fecha_reserva_y  5172 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 530.5+ KB

In [ ]:
# Elimino las columnas que no me interesan
merge_competencia = merge_competencia.drop(columns= ["fecha_reserva_x", "nombre_hotel_x", "estrellas_x", "precio_noche"])
merge_competencia.info()

In [ ]:
merge_competencia = merge_competencia.rename(columns={"fecha_reserva_y": "fecha_reserva", "nombre_hotel_y": "nombre_hotel", "estrellas_y": "estrellas", "precio": "precio_medio"})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       5172 non-null   object
 1   nombre           5172 non-null   object
 2   apellido         5172 non-null   object
 3   mail             5172 non-null   object
 4   competencia      5172 non-null   bool
 5   inicio_estancia  5149 non-null   object
 6   final_estancia   5149 non-null   object
 7   id_hotel         5172 non-null   int64
 8   ciudad           5172 non-null   object
 9   id_cliente       5172 non-null   int64
 10  nombre_hotel     5172 non-null   object
 11  estrellas        5172 non-null   float64
 12  precio_medio     5172 non-null   float64
 13  fecha_reserva    5172 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 530.5+ KB

In [ ]:
merge_competencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       9828 non-null   object
 1   id_cliente       9828 non-null   object
 2   nombre           9828 non-null   object
 3   apellido         9828 non-null   object
 4   mail             9828 non-null   object
 5   competencia      9828 non-null   bool
 6   fecha_reserva    9828 non-null   object
 7   inicio_estancia  9776 non-null   object
 8   final_estancia   9776 non-null   object
 9   nombre_hotel     9828 non-null   object
 10  ciudad           9828 non-null   object
 11  id_hotel         9828 non-null   int64
 12  estrellas        9828 non-null   float64
 13  precio_medio     9828 non-null   float64
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1007.9+ KB

In [ ]:
propios_merge.info()

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'nombre_hotel',
       'ciudad', 'id_hotel', 'estrellas', 'precio_medio'],
      dtype='object')

In [ ]:
propios_merge.columns

Index(['id_reserva', 'nombre', 'apellido', 'mail', 'competencia',
       'inicio_estancia', 'final_estancia', 'id_hotel', 'ciudad', 'id_cliente',
       'nombre_hotel', 'estrellas', 'precio_medio', 'fecha_reserva'],
      dtype='object')

In [ ]:
merge_competencia.columns

In [ ]:
merge_competencia = merge_competencia.reindex(columns=propios_merge.columns)

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 5171
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   id_cliente       15000 non-null  object
 2   nombre           15000 non-null  object
 3   apellido         15000 non-null  object
 4   mail             15000 non-null  object
 5   competencia      15000 non-null  bool
 6   fecha_reserva    15000 non-null  object
 7   inicio_estancia  14925 non-null  object
 8   final_estancia   14925 non-null  object
 9   nombre_hotel     15000 non-null  object
 10  ciudad           15000 non-null  object
 11  id_hotel         15000 non-null  int64
 12  estrellas        15000 non-null  float64
 13  precio_medio     15000 non-null  float64
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.6+ MB

In [ ]:
hoteles_unidos = pd.concat([propios_merge, merge_competencia],axis=0)
hoteles_unidos.info()

In [ ]:
# Veo que hay columnas de tipo fecha y decido convertirlas a tipo fecha
hoteles_unidos['fecha_reserva'] = pd.to_datetime(hoteles_unidos['fecha_reserva'], errors='coerce')
hoteles_unidos['inicio_estancia'] = pd.to_datetime(hoteles_unidos['inicio_estancia'], errors='coerce')
hoteles_unidos['final_estancia'] = pd.to_datetime(hoteles_unidos['final_estancia'], errors='coerce')

id_reserva                 object
id_cliente                 object
nombre                     object
apellido                   object
mail                       object
competencia                  bool
fecha_reserva      datetime64[ns]
inicio_estancia    datetime64[ns]
final_estancia     datetime64[ns]
nombre_hotel               object
ciudad                     object
id_hotel                    int64
estrellas                 float64
precio_medio              float64
dtype: object

In [ ]:
hoteles_unidos.dtypes

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,nombre_hotel,ciudad,id_hotel,estrellas,precio_medio
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,Hotel Monte Verde,Madrid,1,3.103636,276.612381
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,Hotel Brisas del Mar,Madrid,2,3.088015,275.225921
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,Hotel Camino del Sol,Madrid,3,3.067568,269.998444
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,Hotel Puerta del Cielo,Madrid,4,3.028517,280.151243
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,Hotel Encanto Real,Madrid,5,3.031311,278.243996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,e856adee-838c-4031-920c-05ec5f1e32e6,15894,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-21,2025-03-01,2025-03-02,ibis Madrid Alcala de Henares La Garena,Madrid,135,4.500000,83.000000
5168,77134049-6e4f-49b0-a6f8-93b7466b1c22,15896,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-21,2025-03-01,2025-03-02,ibis Madrid Alcobendas,Madrid,128,4.400000,85.000000
5169,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,15898,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-21,2025-03-01,2025-03-02,ibis budget Madrid Alcorcon Móstoles,Madrid,186,4.500000,77.000000
5170,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,15901,Toño,Narváez,toño.narváez@example.com,True,2025-02-21,2025-03-01,2025-03-02,ibis Madrid Aeropuerto Barajas,Madrid,114,4.400000,116.000000
5171,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,15903,Custodia,Marco,custodia.marco@example.com,True,2025-02-21,2025-03-01,2025-03-02,ibis Madrid Centro las Ventas,Madrid,194,4.500000,172.000000

In [ ]:
# Hago el relleno de la columna
hoteles_unidos["ciudad"]= "Madrid"
hoteles_unidos

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,nombre_hotel,ciudad,id_hotel,estrellas,precio_medio
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Monte Verde,Madrid,1,3.103636,276.612381
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Brisas del Mar,Madrid,2,3.088015,275.225921
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-03,Hotel Camino del Sol,Madrid,3,3.067568,269.998444
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Puerta del Cielo,Madrid,4,3.028517,280.151243
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Encanto Real,Madrid,5,3.031311,278.243996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,e856adee-838c-4031-920c-05ec5f1e32e6,15894,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcala de Henares La Garena,Madrid,135,4.500000,83.000000
5168,77134049-6e4f-49b0-a6f8-93b7466b1c22,15896,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcobendas,Madrid,128,4.400000,85.000000
5169,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,15898,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis budget Madrid Alcorcon Móstoles,Madrid,186,4.500000,77.000000
5170,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,15901,Toño,Narváez,toño.narváez@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Aeropuerto Barajas,Madrid,114,4.400000,116.000000
5171,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,15903,Custodia,Marco,custodia.marco@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Centro las Ventas,Madrid,194,4.500000,172.000000

In [ ]:
hoteles_unidos['inicio_estancia'] = pd.to_datetime('2025-03-01')
hoteles_unidos['final_estancia'] = pd.to_datetime('2025-03-03')
hoteles_unidos

In [ ]:
hoteles_unidos.to_csv("../data/hoteles_unidos.csv", index=False)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,nombre_hotel,ciudad,id_hotel,estrellas,precio_medio
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Monte Verde,Madrid,1,3.103261,276.088029
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Brisas del Mar,Madrid,2,3.091078,275.006045
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-03,Hotel Camino del Sol,Madrid,3,3.072519,270.071442
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Puerta del Cielo,Madrid,4,3.033898,280.242538
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Encanto Real,Madrid,5,3.023166,278.176971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,e856adee-838c-4031-920c-05ec5f1e32e6,7d248367-3444-4bfd-97b3-c56892fa7d97,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcala de Henares La Garena,Madrid,135,4.500000,83.000000
15094,77134049-6e4f-49b0-a6f8-93b7466b1c22,524c7818-3167-4dc6-bbe3-a75bbc32feaf,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcobendas,Madrid,128,4.400000,85.000000
15095,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,fc8320ad-ce4d-4d23-bacd-347b2a2ac24c,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis budget Madrid Alcorcon Móstoles,Madrid,186,4.500000,77.000000
15096,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,8469b819-d96a-4904-9cdd-710764f6301f,Toño,Narváez,toño.narváez@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Aeropuerto Barajas,Madrid,114,4.400000,116.000000
15097,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,c4117358-fd89-44cd-b388-4ec6d3538c72,Custodia,Marco,custodia.marco@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Centro las Ventas,Madrid,194,4.500000,172.000000

In [62]:
df = pd.read_csv("../data/hoteles_unidos.csv")
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,nombre_hotel,ciudad,id_hotel,estrellas,precio_medio
0,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Monte Verde,Madrid,1,3.103261,276.088029
1,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Brisas del Mar,Madrid,2,3.091078,275.006045
2,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-03,Hotel Camino del Sol,Madrid,3,3.072519,270.071442
3,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-03,Hotel Puerta del Cielo,Madrid,4,3.033898,280.242538
4,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-03,Hotel Encanto Real,Madrid,5,3.023166,278.176971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,e856adee-838c-4031-920c-05ec5f1e32e6,7d248367-3444-4bfd-97b3-c56892fa7d97,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcala de Henares La Garena,Madrid,135,4.500000,83.000000
15094,77134049-6e4f-49b0-a6f8-93b7466b1c22,524c7818-3167-4dc6-bbe3-a75bbc32feaf,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Alcobendas,Madrid,128,4.400000,85.000000
15095,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,fc8320ad-ce4d-4d23-bacd-347b2a2ac24c,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis budget Madrid Alcorcon Móstoles,Madrid,186,4.500000,77.000000
15096,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,8469b819-d96a-4904-9cdd-710764f6301f,Toño,Narváez,toño.narváez@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Aeropuerto Barajas,Madrid,114,4.400000,116.000000
15097,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,c4117358-fd89-44cd-b388-4ec6d3538c72,Custodia,Marco,custodia.marco@example.com,True,2025-02-21,2025-03-01,2025-03-03,ibis Madrid Centro las Ventas,Madrid,194,4.500000,172.000000